/* CSS BY BRILEIGH SIMS */

/* IMPORTED FONTS */
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');

/* CSS REST */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}
 
/* ROOT VARIABLES */
:root {
--midnight-blue: #1F2A44;
--olive-green: #76885B;
--champagne-gold: #E5C185;
--linen: #F8F4EC;
--dark-charcoal: #2B2B2B;
--soft-white: #FAF9F6;
--font: 'Playfair Display', serif;
--box-shadow: 0 4px 12px #2B2B2B;

}

/* GLOBAL STYLES (mobile first / small */
body {
    font-family: 'Playfair Display', serif;
    color: var(--dark-charcoal);
    background-color: var(--soft-white);
    line-height: 2rem;
    padding: 0;
    margin: 0;
    
}

.wrapper{
    max-width: 1100px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 2rem;
    padding-right: 2rem;
}

header {
    background: var(--midnight-blue);
    color: var(--soft-white);
    text-align: center;
    padding: 1.5rem;
    margin-bottom: 0;
}

header > img {
    max-width: 150px;
    height: auto;
  
   
}

header > h1 {
    font-size: 2rem;
    font-weight: bold;
}

header > p {
    font-style: italic;
    margin-top: 0.5rem;
    font-size: 1.1rem;
}

nav {
    background-color: var(--champagne-gold);
}

nav ul {
    display: flex;
    justify-content: space-around;
    gap: 2rem;
    padding: 1rem;
    font-weight: bold;
    list-style: none;

}

nav a {
    color: var(--midnight-blue);
    text-decoration: none;
}

nav a:hover {
    text-decoration: underline;
    color: var(--olive-green);
}

main > section {
    margin-top: 1.5rem;
}

h1, h2, h3 {
    font-weight: bold;
    padding: 0.5rem;
    text-align: center;
}

ul {
    list-style-type: disc;
    margin-left: 1.5rem;
    margin-top: 0.5rem;
}

#about {
    margin-bottom: 1rem;
}

#about p {
    padding: 1rem;
    margin-top: 0.5rem;
    text-align:center;
}

#offerings {
    display: block;
    padding: 0.5rem;
}

#offerings h2{
    margin-bottom: 1rem;
}

#offerings article {
    background: var(--olive-green);
    color: var(--soft-white);
    padding: 1rem;
    border-radius: 5px;
    margin-bottom: 1rem;
    max-width:100%;
}

#offerings p{
    line-height: 1.5rem;
}
    
#images p{
    padding: 1rem;
    text-align: center;
}

.gallery {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    margin-top: 1rem;
    padding: 1rem;
}

.gallery figure {
    background-color: var(--soft-white);
    box-shadow: var(--box-shadow);
    border-radius: 8px;
    
}

.gallery img{
    width: 100%;
    display: block;
}

.gallery figcaption {
    font-size: 0.85rem;
    font-style: italic;
    padding: 0.75rem;
    text-align: center;
    
}

.button-wrap {
    text-align: center;
    margin-top: 1.5rem;
    padding: 1rem;
}

.gallery-button{
    background-color: var(--olive-green);
    color: var(--soft-white);
    display: inline-block;
    padding: 1rem;
    display: inline-block;
    width: 100%;
    text-align: center;
    text-decoration: none;
    font-weight: bold;
    border-radius: 6px;
    margin: 0 auto;
}

.gallery-button:hover{
    box-shadow: var(--box-shadow);
}

.gold-line {
    border: none;
    height: 3px;
    background-color: var(--champagne-gold);
  
    
    
}

footer {
    background: var(--midnight-blue);
    color: var(--soft-white);
    text-align: center;
    padding: 2rem 1rem;
    font-size: 0.9rem;
}

footer address, footer p {
    margin-bottom: 0.5rem;
}

footer a{
    color: var(--champagne-gold);
    text-decoration: none;
    margin: 0 0.5rem;
}

footer a:hover {
    text-decoration: underline;
}

/*MEDIA QUERY (medium)*/
@media (min-width:600px) {
    .our-offerings{
        display:grid;
        grid-template-columns: 1fr 1fr;
        gap: 1rem;
        padding: 1rem;
    }

    .our-offerings .badge:nth-child(3) {
        grid-column: 1/-1;
    }

    .gallery{
        display: grid;
        grid-template-columns: repeat(2,1fr);
        gap: 1.5rem;
        justify-items: center;
    }

}


/*MEDIA QUERY (large)*/
@media (min-width: 900px) {

    .our-offerings{
        display:grid;
        grid-template-columns: 1fr 1fr;
        gap: 1rem;
        padding: 1rem;
    }

    .our-offerings .badge:nth-child(3) {
        grid-column: 1/-1;
    }

    .gallery {
        display:grid;
        grid-template-columns: repeat(3,1fr);
        gap: 1.5rem;
        justify-items: center;
    }

    /*MEDIA QUERY (extra-large)*/
    @media (min-width:1200px) {
        .our-offerings{
            display:grid;
            grid-template-columns: 1fr 1fr;
            gap: 1rem;
            padding: 1rem;
        }
    
        .our-offerings .badge:nth-child(3) {
            grid-column: 1/-1;
        }

        .gallery {
            display: grid;
            grid-template-columns: repeat(5, 1fr);
            gap: 1.5rem;
        }
    }
}






   




